<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../Styles/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../Styles/grupos.css">
		<title>Grupos</title>
	</head>

	<body>
		<div class="ui inverted segment" class = "ColorComponents">
			<div class="ui inverted secondary pointing menu">
				<a class="active item">
					Home
			  	</a>
			  	<a class="item">
					Options
			  	</a>
			</div>
		</div>
		<br>
		<div class = "ui grid">
			<div class = "one wide column"></div>
			<div class = "three wide center aligned column">
				<h1>Miembros del Grupo</h1>
				<div class = "ui items">
					<div class = "ui fluid item">
						<div class = "ui tiny circular image">
							<img src="../Assets/Images/jon.png">
						</div>
						<div class = "middle aligned content">
							<a class = "header">Miembro del Grupo</a>
						</div>
					</div>
					<div class = "ui fluid item">
						<div class = "ui tiny circular image">
							<img src="../Assets/Images/jon.png">
						</div>
						<div class = "middle aligned content">
							<a class = "header">Miembro del Grupo</a>
						</div>
					</div>
					<div class = "ui fluid item">
						<div class = "ui tiny circular image">
							<img src="../Assets/Images/jon.png">
						</div>
						<div class = "middle aligned content">
							<a class = "header">Miembro del Grupo</a>
						</div>
					</div>
					<div class = "ui fluid item">
						<div class = "ui tiny circular image">
							<img src="../Assets/Images/jon.png">
						</div>
						<div class = "middle aligned content">
							<a class = "header">Miembro del Grupo</a>
						</div>
					</div>
				</div>
			</div>
			<div class = "one wide center aligned column">
				<div class = "ui vertical divider">|</div>
			</div>
			<div class = "six wide center aligned column">
				<div class="ui inverted segment" class = "ColorComponents">
					<div class="ui inverted secondary pointing menu">
						<a class="active item">
							Nombre del Grupo
			  			</a>
					</div>
				</div>
				<div class = "four wide left aligned column">
					<div class="ui feed">
  						<div class="event">
    						<div class="label">
      							<img src="../Assets/Images/jon.png">
    						</div>
    						<div class="content">
      							Mensaje de Contacto</a>
    						</div>
  						</div>
					</div>
					<div class="ui feed">
  						<div class="event">
    						<div class="label">
      							<img src="../Assets/Images/jon.png">
    						</div>
    						<div class="content">
      							Mensaje de Contacto</a>
    						</div>
  						</div>
					</div>	
				</div>
				<form class="ui reply form">
            		<div class="field">
              			<textarea placeholder="Message"></textarea>
            		</div>
            		<div class="ui blue labeled submit icon button">
              			<i class="icon edit"></i> Send
            		</div>
          		</form>
			</div>
			<div class = "one wide center aligned column">
				<div class = "ui vertical divider">|</div>
			</div>
			<div class = "three wide center aligned column">
				<h1>Eventos del Grupo</h1>
				<div class = "ui items">
					<div class = "ui fluid item">
						<div class = "ui tiny circular image">
							<img src="../Assets/Images/jon.png">
						</div>
						<div class = "middle aligned content">
							<a class = "header">Eventos del Grupo</a>
						</div>
					</div>
					<div class = "ui fluid item">
						<div class = "ui tiny circular image">
							<img src="../Assets/Images/jon.png">
						</div>
						<div class = "middle aligned content">
							<a class = "header">Eventos del Grupo</a>
						</div>
					</div>
					<div class = "ui fluid item">
						<div class = "ui tiny circular image">
							<img src="../Assets/Images/jon.png">
						</div>
						<div class = "middle aligned content">
							<a class = "header">Eventos del Grupo</a>
						</div>
					</div>
					<div class = "ui fluid item">
						<div class = "ui tiny circular image">
							<img src="../Assets/Images/jon.png">
						</div>
						<div class = "middle aligned content">
							<a class = "header">Eventos del Grupo</a>
						</div>
					</div>
				</div>
			</div>
			<div class = "one wide column"></div>
		</div>
	</body>
	<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
    <script src="../../bower_components/semantic/dist/semantic.min.js">
</html>