<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="C:\Users\manuelpc97\node_modules\semantic-ui\dist\semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../Styles/perfilEmpresa.css">
		<title>Perfil de Empresa</title>
	</head>
	<body>
		<div class = "ui menu">
			<div class = "item">
				Home
			</div>
			<div class = "item">
				Opcion
			</div>
		</div>

	</body>
	<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
    <script src="C:\Users\manuelpc97\node_modules\semantic-ui\dist\semantic.min.js">
    </script>
</html>