<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../Styles/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../Styles/perfilEmpresa.css">
		<title>Perfil de Empresa</title>
	</head>
	<body>
		<div class = "ui menu">
			<div class = "item">
				Home
			</div>
			<div class = "item">
				Opcion
			</div>
		</div>
		<br>
		<div class = "ui grid">
		<div class = "two wide column"></div>
			<div class = "four wide column">
				<h1>Empresa</h1>
				<img class="ui medium circular image" src="../Assets/Images/jon.png">
				<div class = "ui horizontal divider">--</div>
				<div class = "ui segments">
					<div class = "ui purple segment">
						<h2>Nombre: </h2>
					</div>
					<div class = "ui purple segment">
						<h2>Ubicacion: </h2>
					</div>
					<div class = "ui purple segment">
						<h2>Descripcion: </h2>
					</div>
				</div>
			</div>
			<div class = "one wide center aligned column">
				<div class = "ui vertical divider divider"></div>
			</div>
			<div class = "ui eight wide center aligned column">
				<h1>Fundadores</h1>
				<div class = "ui cards">
					<div class = "ui fluid card">
						<div class = "content">
							<a >
								<img class = "ui medium left floated image" src="../Assets/Images/jon.png">
							</a>
							<a class = "header">
								<h2>Nombre del Empeado</h2>
							</a>
							<p>
								<h3>Edad:</h3>
								<h3>Correo:</h3>
								<h3>Telefono:</h3>
								<h3>Profesion:</h3>
								<h3>Direccion:</h3>
							</p>
						</div>
					</div>
					<div class = "ui fluid card">
						<div class = "content">
							<a >
								<img class = "ui medium left floated image" src="../Assets/Images/jon.png">
							</a>
							<a class = "header">
								<h2>Nombre del Empeado</h2>
							</a>
							<p>
								<h3>Edad:</h3>
								<h3>Correo:</h3>
								<h3>Telefono:</h3>
								<h3>Profesion:</h3>
								<h3>Direccion:</h3>
							</p>
						</div>
					</div>
					<div class = "ui fluid card">
						<div class = "content">
							<a >
								<img class = "ui medium left floated image" src="../Assets/Images/jon.png">
							</a>
							<a class = "header">
								<h2>Nombre del Empeado</h2>
							</a>
							<p>
								<h3>Edad:</h3>
								<h3>Correo:</h3>
								<h3>Telefono:</h3>
								<h3>Profesion:</h3>
								<h3>Direccion:</h3>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
    <script src="../../bower_components/semantic/dist/semantic.min.js">
    </script>
</html>